@page

    <link rel="stylesheet" href="~/css/ChatMensajes.css" />
    
    <div class="containerChat">
        <div class="col-6">
            <ul class="mensajes" id="messagesList"></ul>
        </div>
    </div>
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-2">Nombre</div>
            <div class="col-2"><input type="text" id="userInput" /></div>
        </div>
        <div class="row">
            <div class="col-2">Mensaje</div>
            <div class="col-2"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="submit" class="btn waves-effect waves-light green accent-3" id="sendButton" value="Enviar" />
            </div>
        </div>
    </div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
