@{
    ViewData["Title"] = "Home Page";
}
<body>
    <main>
<div class="parallax-container">
    <div class="parallax">
        <img fl src="https://topenglish.com.ar/wp-content/uploads/2017/06/People-Talking.jpg" style="transform: translate3d(-50%, 345px, 0px); opacity: 1;">
        </div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header center" >Buscabas contactar con personas en tiempo real?</h2>
        <p class="grey-text text-darken-3 lighten-3">Esta aplicacion fue realizada con la tecnologia de SignalR que permite la interaccion en vivo entre personas a traves del uso de websockets!</p>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="https://librec.ch/wp-content/uploads/2022/05/team.png"></div>
</div>
</main>
</body>